<div>
  <h5>{{user.name}}</h5>
  <h5>{{user.title}}</h5>
  <h5>{{user.address}}</h5>
  <button *ngIf="isCollapsed" (click)="toggleCollapsing()">+</button>
  <button *ngIf="!isCollapsed" (click)="toggleCollapsing()">-</button>
  <div *ngIf="!isCollapsed">
    <h5 *ngFor="let item of user.phone">{{item}}</h5>
  </div>
</div>
<div>
  <!-- <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <h5>Hello World</h5>
    </gridster-item>
  </gridster> -->
</div>
